

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />
<!--<!<h1>Hank's Bank</h1>
<h2>Hank's Bank</h2>
<h3>Hank's Bank</h3>
<h4>Hank's Bank</h4>
<h5>Hank's Bank</h5>
<em>Hank's Emphisized Bank</em>
<br></br>
<b> Hank's Italics Bank<sup>1</sup></b>

<h1>{{ question.question_text }}</h1>
h1 style="background-color:DodgerBlue;">Hank's Bank<-->
	
	
	

	 

<table style="width:100%">

<tr>
<th> <h1 style="color:gold;">$$$</h1></th>
<th> <h1 style="color:MediumSeaGreen;">Hank's Bank<sup><h7 style="color:black;">tm</h7> </sup>
</th>
<th> <h1> {{question.date}}</h1></th>
</tr>


</table>







<h1>{{question.question_text}}</h1>








{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'polls:vote' question.id %}" method="post">
{% csrf_token %}
{% for choice in question.choice_set.all %}
    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
    <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br />
{% endfor %}
<input type="submit" value="Vote" />

</form>
<a href="{% url 'polls:results' 4%}">View Decision</a>
